body{
    background: #FBFAFF;
}

.addblog-header{
    height: 80px;
    border-bottom: 1px solid #E4E3EB;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-header{
    display: flex;
    align-items: center;
    padding: 40px 0 0 76px;
}

.form-div-main{
    margin: 40px 0 0 360px;
}

.form-header-text{
    font-size: 32px;
    margin-left: 240px;
}

#backBtn:hover{
    cursor: pointer;
}

.div-addBlog{
    display: flex;
    flex-direction: column;
}

.image-input-div{
    width: 600px;
    height: 180px;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px dashed #85858D;
    background: #F4F3FF;
    
}
#dropAreaImg{
    margin: 48px 280px 0 280px;
}

.img-input-success{
    display: none;
    width: 600px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #F2F2FA;
    margin-top: 8px;
}
.img-input-success1{
    display: flex;
    margin-left: 16px;
}
#imgSuccess1{
    margin-top: 16px;
}

#imgSuccessSpan{
    font-family: Fira Go light;
    margin: 18px 0 0 12px;
}
#deleteImg{
    margin: 16px 0 0 410px;
    cursor: pointer;
}

.img-input-text{
    margin: 24px 0 0 164px;
}

#chooseImgTxt1{

    font-family: Fira Go light;
    margin-right: 4px;
}

#chooseImgTxt2{
    text-decoration: underline;
    cursor: pointer;
}

.author-header-div{
    display: flex;
    justify-content: flex-start;
}

.author-input-div{
    display: flex;
    flex-direction: column;
}
.header-input-div{
    display: flex;
    flex-direction: column;
}

.input-span{
    color: #85858D;
    font-family: Fira Go light;
}

.about-div{
    display: flex;
    flex-direction: column;
}

#aboutInput{
    width: 600px;
    height: 124px;
    resize: none;
}

.date-category-div{
    display: flex;
}

.date-input-div{
    display: flex;
    flex-direction: column;
}
.categories-input-div{
    display: flex;
    flex-direction: column;
}

.email-div{
    display: flex;
    flex-direction: column;
}

#emailInput{
    width: 288px;
    height: 44px;
}