header{
    background-color: #FFFFFF;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-btn{
    font-family: 'Fira Go',Helvetica;
    background-color: #5D37F3;
    width: auto;
    height: 40px;
    border: none;
    padding: 10px 20px;
    margin: 20px 76px 20px 0;
    color: #FFF;
    border-radius: 8px;
    cursor: pointer;
}


#img1{
    margin-left: 76px;
}

.div-blog-header{
    display: flex;
    justify-content: space-between;
}

#img2{
    margin: 64px 76px;
}

#text-blog{
    font-size: 64px;
    margin: 128px 0 0 89px;
}

.div-filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#modal{
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background: #FFF;
}

.div-dialog{
    width: 480px;
    height: 272px;
}

.dialog-text{
    margin: 4px 194px 0 195px;
    font-size: 24px;
}

#dialogClose{
    width: 24px;
    height: 24px;
    margin: 20px 0 0 436px;
    cursor: pointer;
}

.dialog-form{
    margin: 20px 0 0 24px;
}

#dialogEmailLabel{
    font-size: 14px;
}

.dialog-email{
    border-radius: 12px;
    border: 1.5px solid #5D37F3;
    background: #F7F7FF;
    width: 432px;
    height: 44px;
    outline: none;
    padding: 12px 0 12px 16px;
    margin-top: 8px;
    font-size: 14px;
}
.dialog-email-error{
    border-radius: 12px;
    border: 1px solid #EA1919;
    background: #FAF2F3;
    width: 432px;
    height: 44px;
    outline: none;
    padding: 12px 0 12px 16px;
    margin-top: 8px;
    font-size: 14px;
}

#dialogLoginBtn{
    font-family: 'Fira Go',Helvetica;
    display: flex;
    width: 432px;
    height: 40px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    color: #FFF;
    border: none;
    margin-top: 24px;
    cursor: pointer;

}

.dialog-email-error-msg{
    display: none;
    margin-top: 8px;
}
.dialog-email-error-msg1{
    display: flex;
    align-items: center;
}


.dialog-email-error-msg-txt{
    font-family: Fira Go Medium;
    color: #EA1919;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

.div-dialog-success{
    display: none;
}

#svgSuccess{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#successMsg{
    margin: 16px 98px 0 98px;
}

.success-btn{
    font-family: 'Fira Go',Helvetica;
    display: flex;
    width: 432px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    border: none;
    color: #FFF;
    font-size: 14px;
    margin-top: 48px;
    cursor: pointer;
}


#addBlogbtn{
    display: none;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#backBtn{
    position: absolute;
    left: 75px;
    top: 120px;
    cursor: pointer;
}

.main-blog-content{
    position: relative;
    width: 720px;
    margin-top: 40px;

}

.blog-img{
    object-fit:fill;
    width: 720px;
    border-radius: 12px;
}

.blog-author{
    margin-top: 40px;
    font-size: 16px;
}

.blog-publish_date{
    font-family: 'Fira Go light';
    margin-top: 8px;
    color: #85858D;
    font-size: 12px;
    display: inline;
}
.blog-email{
    font-family: 'Fira Go light';
    font-size: 12px;
    color: #85858D;
    display: inline;
}
.blog-title{
    font-size: 32px;
    margin-top: 24px;
}

.blog-categories{
    margin-top: 24px;
    width: 408px;
    display: flex;
    flex-wrap: wrap
}
.blog-description{
    font-family: 'Fira Go light';
    margin-top: 16px;
    color: #404049;
    font-size: 16px;
}

.categorie-btn-blog{
    font-family: 'Fira Go',Helvetica;
    border: none;
    width: auto;
    padding: 8px 16px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #FFF;
    border-radius: 30px;
    white-space: nowrap;
    display: inline-block;
}