*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fira Go';
    src: url('../assets/fonts/FiraGO-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Fira Go light';
    src: url('../assets/fonts/FiraGO-Light.otf') format('opentype');
}
  
body {
    font-family: 'Fira Go',Helvetica;
    background-color: #f3f2fa;
    width: 100vw;
    height: 100vh;
}

.categorie-btn{
    font-family: 'Fira Go',Helvetica;
    border: none;
    width: auto;
    height: 32px;
    padding: 8px 16px;
    margin-left: 24px;
    margin-top: 24px;
    color: #FFF;
    border-radius: 30px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
}